.Todo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .TodoDetails {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
    }

    .TodoDetailsTextBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 93%;
      padding-bottom: 11px;
      border-bottom: 1px solid #aaa8a8;

      .RemoveButton {
        background-color: transparent;
        height: 2rem;
        width: 2rem;
        border-radius: 100px;
        border: none;
        color: black;

        &:hover {
          background-color: gray;
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  .TodoCreatedAt {
    display: none;
    margin: 0 auto;
  }

  &:hover .TodoCreatedAt {
    display: inline-block;
    margin-top: 5px;
  }
}
