.Checkbox {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: 2px solid #eee;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 8px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input:checked ~ .Checkmark {
    background-color: #006cff;
    border: 2px solid #eee;
  }

  input:checked ~ .Checkmark::after {
    display: inline-block;
  }

  &:hover .Checkmark {
    border: 2px solid #006cff;
    cursor: pointer;
  }
}
